eval "$(micromamba shell hook)"

# Use unstrict_env because the libblas activation script for CONDA references
# a variable that doesn't exist: MKL_INTERFACE_LAYER
unstrict_env micromamba activate dougs-public-notebooks

export PYTHONPATH="$(pwd)/src"
